<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Certificate Generator</title>
</head>

<body>
    <header>
        <img src="static\Logotipo_V2_Para_Fundo_Verde.png" alt="Logo IV Workshop das Engenharias">
        <h2>Generate your Certificate here</h2>
    </header>

    <div class="input-container">
        <label for="name">Nome :</label>
        <input type="text" id="name" placeholder="Nome" required>
        <br><br>

        <label for="email">Email :</label>
        <input type="text" id="email" placeholder="Email">
        <br><br>

        <label for="ra">RA :</label>
        <input type="number" id="ra" placeholder="RA">
        <br><br>

        <label for="coursename">Palestra/Workshop :</label>
        <input type="text" id="coursename" placeholder="Palestra/Workshop">
        <br><br>

        <label for="startdate">Enter Course Start Date :</label>
        <input type="date" id="startdate" placeholder="Enter the start date here">
        <br><br>

        <label for="enddate">Enter Course Completion Date :</label>
        <input type="date" id="enddate" placeholder="Enter the end date here">
        <br><br>

        <button onclick="generateCertificate()">Generate Now</button>
    </div>

    <a id="downloadLink" style="display: none;" download="Certificate.png">
        <button id="downloadButton">Download Certificate</button>
    </a>

    <canvas id="certificateCanvas" style="display: none;"></canvas>

    <script src="static/script.js"></script>
</body>

</html>
